<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.min.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <% include ./partials/jsPlugins %>
</head>

<body>

<!-- Page Content -->

    <% include ./partials/navbar %>


    <%- body %>
    <!-- /.row -->

    <hr>
<!-- /.container -->
<div class="container">
    <% include ./partials/footer %>
</div>

</body>

</html>
