<% layout('layout') %>

<div class="jumbotron">
    <div class="container">
        <h1>Shop Smart, Save Big!</h1>
        <p>Starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="/signup" role="button">Signup &raquo;</a></p>
    </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h3>Start search</h3>
            <p>Signup to start Buying</p>
        </div>
        <div class="col-md-4">
            <h3>Looking for items?</h3>
            <p>This will appear across site.</p>
        </div>
        <div class="col-md-4">
            <h3>Build smart cart</h3>
            <p>More items more you save.</p>
        </div>
    </div>
</div>